*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;

}
body {
    background-image: linear-gradient(120deg, #65f6d7, #b6fda0);
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 100px;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputIngreso {
    padding: 10px;
    font-size: 20px;
}
.boton {
    background-color: rgb(80, 231, 80);
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.listaTareas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarea {
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: all .5s;
}
.tarea p {
    background: white;
    padding: 10px;
    font-size: 20px;
    min-width: 400px;
}
.tarea .boton-eliminar{
    background-color: rgb(196, 48, 48);
}

.tarea-completada {
    opacity: 0.5;
}
.tarea-completada p {
    text-decoration: line-through;
}